= simple_form_for(@station) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address, as: :select
    = f.input :comment
    = f.input :lat
    = f.input :lng
    = f.association :region, as: :string

  .form-actions
    = f.button :submit

javascript:
  $(function(){
    $("#station_address").select2({
      placeholder: "请输入地址",
      theme: 'bootstrap',
      ajax: {
        url: '/stations/suggestion.json',
        dataType: 'json',
        delay: 250,
        cache: false
      },
      minimumInputLength: 1
    })

    $("#station_address").on("change", function (e) {
      var data = $("#station_address").select2('data')[0];
      if(data){
        $("#station_lat").val(data['lat'])
        $("#station_lng").val(data['lng']) 
        $("#station_region_id").val(data['region_id'])
      }
    });
  })